/* ==|====================
   Component / Action Bar
   ======================= */

.action-bar {

    --spacer: rem(32px);

    border-bottom: 1px solid $color-grey;
    overflow: hidden;

    .filter {
        float: left;
    }

    .btn,
    .show-next {
        float: right;
    }

    .btn {
        margin-top: rem(3px);
    }

    .show-next {
        margin-right: var(--spacer);
    }
}
