/* ==|====================
   Component / Metabar
   ======================= */

.metabar {
    background-color: $color-offwhite;
    padding-top: rem(15px);
    padding-bottom: rem(15px);
    overflow: hidden;
}
