/* ==|====================
   Component / Theme-Switcher
   ======================= */

.theme-switcher {
    float: right;
    height: rem(20px);
}

.theme-switcher__label {
    display: block;
    float: left;
    font-size: rem(14px);
    line-height: (21 / 14);
    margin-right: rem(10px);
}

.theme-switcher__list {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
}

.theme-switcher__item {
    display: block;
    float: left;
    padding-top: rem(2px);
    padding-bottom: rem(2px);

    &:not(:last-child) {
        margin-right: rem(5px);
    }
}

.theme-switcher__trigger {
    display: block;
    height: rem(16px);
    width: rem(16px);
    border: 1px solid grey;

    &.is-dark {
        background-color: black;
    }

    &.is-light {
        background-color: white;
    }
}
