<div class="metabar">
    <div class="grid__container">
        <div class="grid__row">
            <div class="grid__col-xs-12">
                <div class="theme-switcher">
                    <span class="theme-switcher__label">Theme</span>

                    <ul class="theme-switcher__list">
                        <li class="theme-switcher__item">
                            <a class="theme-switcher__trigger is-dark" href="#" title="Dark" data-theme="dark" data-theme-switcher></a>
                        </li>
                        <li class="theme-switcher__item">
                            <a class="theme-switcher__trigger is-light" href="#" title="Light" data-theme="light" data-theme-switcher></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
