/* ==|====================
   Component / Action Bar
   ======================= */

.action-bar {

    --spacer: rem(32px);

    border-bottom: 1px solid var(--color-borders);
    overflow: hidden;
    display: flex;
    justify-content: space-between;

    &__right {
        display: flex;
    }

    .btn {
        margin-top: rem(3px);
    }

    .show-next {
        margin-right: var(--spacer);
    }
}
