/* ==|====================
   Base / Base
   ======================= */

html {
    font-size: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    --main-bg-color: $color-white;
    --font-color: $color-black;
    --font-color-light: $color-offblack;
    --color-borders: $color-grey;
    --color-borders-darken: darken($color-grey, 6%);

    --color-primary: $color-primary-light;
    --color-primary-darken: darken($color-primary-light, 6%);
    --color-secondary: $color-secondary-light;

    font-size: 100%;
    font-family: $font-family-primary;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--font-color);
    background-color: var(--main-bg-color);
    transition: background-color .22s ease-in-out;

    &.dark {
        --main-bg-color: $color-black;
        --font-color: $color-white;
        --font-color-light: $color-light-grey;
        --color-borders: $color-offblack;
        --color-borders-darken: darken($color-offblack, 6%);

        --color-primary: $color-primary-dark;
        --color-primary-darken: darken($color-primary-dark, 6%);
        --color-secondary: $color-secondary-dark;
    }
}
