/* ==|====================
   Settings / Colors
   ======================= */

// TODO: create color pallet

/* Brand colors */
$color-primary-light:        #ff5a5f;
$color-secondary-light:      #008489;

$color-primary-dark:         #ff5af7;
$color-secondary-dark:       #32ccef;

$color-white:                rgb(255, 255, 255);
$color-offwhite:             rgb(245, 245, 245);
$color-light-grey:           rgb(230, 230, 230);
$color-grey:                 #e4e4e4;

$color-black:                rgb(34, 34, 34);
$color-offblack:             #484848;
