/* ==|====================
   Tools / Grid
   ======================= */

// This gridsystem is selfmade

// Settings
$container-padding:                 50px; // this needs to be a pixel value for easier calculations if needed
$max-container-width:               1100px; // this needs to be a pixel value for easier calculations if needed
$gutter:                            20px; // this needs to be a pixel value

// Box sizing
* {
    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

.grid__container,
%grid__container {
    @extend %clearfix;
    width: 100%;
    margin: 0 auto;
    max-width: rem($max-container-width);
    padding-left: rem($container-padding);
    padding-right: rem($container-padding);
}

.grid__row,
%grid__row {
    @extend %clearfix;
    display: flex;
    flex-wrap: wrap;
    margin-left: rem($gutter *- 1 / 2);
    margin-right: rem($gutter *- 1 / 2);
}

[class^="grid__col-"],
[class*=" grid__col-"],
%grid__col {
    flex: 0 0 100%;
    //float: left;
    min-height: 1px;
    padding-left: rem($gutter / 2);
    padding-right: rem($gutter / 2);
}

@for $i from 1 through 12 {
    .grid__col-#{$i},
    %grid__col-#{$i} {
        flex: 0 0 (100% / 12 * $i);
    }
}
