/* ==|====================
   Base / Base
   ======================= */

html {
    font-size: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    color: $color-black;
    font-family: $font-family-primary;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    //@extend %heading-h1;
}

h2 {
    //@extend %heading-h2;
}

p,
li,
label {
    //@extend %copy-base;
}

p {
    //@extend %copy-margin;

    &.lead {
        //@extend %copy-lead;
    }
}

b,
strong {
    //@extend %bold;
}
